<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <property name="HOME_LOG" value="logs/app.log"/>

    <appender name="STDOUT_TEST" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%green([%thread]) %highlight(%-5level) %cyan(%logger{15}:) %yellow(%M\(%line\)) - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">


            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>

                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>
    <appender name="FILE_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
				it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.myown" level="debug" additivity="false">
        <appender-ref ref="FILE_ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework" level="debug" additivity="false">
        <appender-ref ref="FILE_ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="io.opentelemetry" level="debug" additivity="false">
        <appender-ref ref="FILE_ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </logger>
        <logger name="com.swacorp" level="debug" additivity="false">
        <appender-ref ref="FILE_ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="FILE_ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
